h3 {
    color: darkblue;
}

button#pretragaButton {
    width: 30%;
}

div#register {
    width: 50%;
    float: right;
    align-content: center
}

div#fitnessCenters {
    float: left;
}

div#buttonsDiv {
    float: right;
}

button#submitButton {
    width: 100%;
    height: 100%;
}

button#editButton {
    width: 100%;
    height: 100%;
}

font {
    font-size: 12px;
}
