body {
    background-color: mintcream
}

caption {
    font-size: 20px;
    font-weight: bold;
    color: darkblue;
}

button#createFitnessCenterButton {
    border: 2px solid black;
    background-color: blue;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

button#editFitnessCenterButton {
    border: 2px solid black;
    background-color: blue;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

button#showNewFitnessCenterTableButton {
    border: 1px solid black;
    background-color: azure;
    color: navy;
    font-weight: bold;
    cursor: pointer;
}

button.showEditFitnessCenterButton {
    border: 1px solid black;
    background-color: azure;
    color: navy;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}

button.deleteFitnessCenterButton {
    border: 1px solid black;
    background-color: azure;
    color: red;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}

a.backLink {
    background-color: red;
    border: 2px solid black;
    color: white;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 10px 0px;
    cursor: pointer;
    text-decoration: none;
}

select {
    border: 1px solid black;
    background-color: azure;
    cursor: pointer;
}

table#myTable {
    background-color: aqua;
}
